In [3]:
import pandas as pd

In [4]:
#reading the csv file and creating the dataframe 

df = pd.read_csv('Crop_data.csv')
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

# Preparing the data

In [5]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [7]:
df.shape

(2200, 8)

In [8]:
df.label.unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

##  Covert the labels(cropnames) into numeric values because the computer understands numbers

#### importing sklearn library--->used for machine learning (training and predicting)

In [9]:

from sklearn import preprocessing as pg

LE= pg.LabelEncoder()
label= LE.fit_transform(df["label"])

### removing the unnecessary columns

In [10]:

data =df.drop("label",axis="columns")
data =data.drop("N",axis="columns")
data=data.drop("P",axis="columns")
data=data.drop("K",axis="columns")

data

      temperature   humidity        ph    rainfall
0       20.879744  82.002744  6.502985  202.935536
1       21.770462  80.319644  7.038096  226.655537
2       23.004459  82.320763  7.840207  263.964248
3       26.491096  80.158363  6.980401  242.864034
4       20.130175  81.604873  7.628473  262.717340
...           ...        ...       ...         ...
2195    26.774637  66.413269  6.780064  177.774507
2196    27.417112  56.636362  6.086922  127.924610
2197    24.131797  67.225123  6.362608  173.322839
2198    26.272418  52.127394  6.758793  127.175293
2199    23.603016  60.396475  6.779833  140.937041

[2200 rows x 4 columns]

## adding the label column again with numeric values this time

In [11]:

data["label"]= label
data

      temperature   humidity        ph    rainfall  label
0       20.879744  82.002744  6.502985  202.935536     20
1       21.770462  80.319644  7.038096  226.655537     20
2       23.004459  82.320763  7.840207  263.964248     20
3       26.491096  80.158363  6.980401  242.864034     20
4       20.130175  81.604873  7.628473  262.717340     20
...           ...        ...       ...         ...    ...
2195    26.774637  66.413269  6.780064  177.774507      5
2196    27.417112  56.636362  6.086922  127.924610      5
2197    24.131797  67.225123  6.362608  173.322839      5
2198    26.272418  52.127394  6.758793  127.175293      5
2199    23.603016  60.396475  6.779833  140.937041      5

[2200 rows x 5 columns]

### Mapping the numberic values to their curresponding names

In [12]:
label_names = df["label"].tolist()

In [13]:
zip(label,label_names)

In [14]:
mapping =dict(zip(label,label_names))

mapping

{20: 'rice',
 11: 'maize',
 3: 'chickpea',
 9: 'kidneybeans',
 18: 'pigeonpeas',
 13: 'mothbeans',
 14: 'mungbean',
 2: 'blackgram',
 10: 'lentil',
 19: 'pomegranate',
 1: 'banana',
 12: 'mango',
 7: 'grapes',
 21: 'watermelon',
 15: 'muskmelon',
 0: 'apple',
 16: 'orange',
 17: 'papaya',
 4: 'coconut',
 6: 'cotton',
 8: 'jute',
 5: 'coffee'}

# Training phase of model

### Splitting the data into traing data and testing data

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['temperature','humidity','ph','rainfall']],data.label,test_size=0.1)
# X_train,X_test,y_train,y_test =train_test_split(data[['temperature','humidity','ph','rainfall'],data.label,test_size=0.1])

In [16]:
# from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
# model = LogisticRegression()
model = RandomForestClassifier(n_estimators = 100)

### Training the data using fit method

In [17]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [18]:
y_pred = model.predict(X_test)
from sklearn import metrics 
print("accurary=",metrics.accuracy_score(y_test, y_pred)*100,"%")

accurary= 95.45454545454545 %

In [19]:
X_test.head()

      temperature   humidity        ph    rainfall
1657    24.451328  93.105277  6.528355  109.471110
701     26.734340  68.139997  7.040056   67.150964
156     21.869274  61.910449  5.850440  107.268193
895     23.052764  60.424786  7.011121   52.602853
593     24.018254  53.766234  7.214079   35.034044

In [20]:
y_test

1657    16
701      2
156     11
895     10
593     13
        ..
1359    21
2072     8
1633    16
74      20
160     11
Name: label, Length: 220, dtype: int32

# Taking input from user and predicting the crop

In [21]:
li = ['Temperature','Humidity','ph', 'rainfall']
inputList =[]
for i in range(0,4):
    print("Enter "+li[i]+" :")
    x=float(input())
    inputList.append(x)

inputDF= pd.DataFrame(inputList).T

inputDF.rename(columns = {0:'temperature',1:'humidity',2:'ph',3:'rainfall'}, inplace = True)

ans =model.predict(inputDF.loc[[0]])
mapping[ans[0]]

Enter Temperature :
25
Enter Humidity :
65
Enter ph :
7.8
Enter rainfall :
120

'coffee'